@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Nunito:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color-primary: #FFFDFE;
  --background-color-secondary: #fafafa;
  --background-color-tertiary: #F9FAFE;
  --accent-color: #F5F5F5;
  --text-primary-color: #222;
  --element-size: 6rem;
  --text-secondary-color: #858585;
  --divider-color: #F5F5F5;
  --text-secondary-dark: #53545C;

  --background--hover: #EBE7FE;
  --background--hover--text: #5243A0;
}

/* Define styles for the root window with dark - mode preference */
:root.dark-theme {
  --background-color-primary: #1e1e1e;
  --background-color-secondary: #2d2d30;
  --accent-color: #3f3f3f;
  --text-primary-color: #ddd;
  --text-secondary-color: #858585;
  --divider-color: #3e3e3e;
  --text-secondary-color: #858585;
}

*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Nunito', sans-serif;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

@keyframes spinneralt {
  0% { transform: rotate(0deg) }
  to { transform: rotate(359deg) }
}

.gg-spinner-alt {
  transform: scale(var(--ggs,1))
}
.gg-spinner-alt,
.gg-spinner-alt::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 95px;
  height: 95px;

}
.gg-spinner-alt::before {
  content: "";
  position: absolute;
  border-radius: 100px;
  animation: spinneralt 1s cubic-bezier(.6,0,.4,1) infinite;
  border: 3px solid transparent;
  border-top-color: currentColor
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--background-color-primary);
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  padding: 1.5rem;
}

.wrapper {
  display: flex;
  background-color: var(--background-color-primary);
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  padding: 1.5rem;
}